/* Cascading stylesheet  */

/* Puedo modificar el html a través de selectores */

/* selector global  */
* {
    /* Aquí van las propiedades que le puedo aplicar al selector */
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* selector de etiqueta  */
h1 {
    font-size: 96px;
    text-align: center;
}

h2 {
    font-size: 50px;
    font-weight: lighter;
}

p {
   font-size: 26px; 
}

/* selector de clase  */
.parrafos-grises {
    color: gray;
}

.imagenes-principales {
    width: 500px;
}